@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap");

$color-primary: #310e68;
// $color-grad-1: #dc52bf;
$color-grad-1: #861657;
$color-grad-2: #963da4c1;
$color-grad-3: #861657dc;

$color-grey-light-1: #f3f3f3; // Light background
$color-grey-light-2: #ededed; // Light lines
$color-grey-light-3: #bcbcbc; // Light text (placeholder)
$color-grey-dark-1: #434343; // Normal text
$color-grey-dark-2: #2a2a2a; // Lighter text

$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
